extends layout

block content
  header
    a#home(href='/', title='首页') 课堂助手
    if exist
      a#signout(href='/user/signout', title='退出登录')
        i.fa.fa-sign-out.fa-fw
  if exist
    include teacher.pug
  else
    include sign.pug
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap-3.3.7-dist/js/bootstrap.min.js')
  script(src='/javascripts/bootstrap-notify.min.js')
  script(src='/javascripts/validator.js')
  script(src='/javascripts/sign.js')
