doctype html
html(lang='zh-cn')
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    h1.signtitle= title
    form.signform(action='/qr/sign?id=' + id + '&date=' + date, method='post')
      input#signinput(type="text" name="signmsg")
      button#signsubmit(type="submit") 提交